  
  .top{
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
    color: #CA6702;
}

  .form input {
    display: block;
    margin-top: 5px;
    margin-bottom: 1rem;
    width: 75%;
  }

  .submit-btn{
      display: block;
  }

.error-text{
  font-weight: 600;
  color: red;
}