  
  .top{
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
}

  .form input {
    display: block;
    margin-top: 5px;
    margin-bottom: 1rem;
    width: 100%;
  }

  .submit-btn{
      display: block;
  }

