body{
    background-color: black;
}

.gap{
    margin: 1rem;
}

.cards{
    padding-top: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

@media screen and (max-width: 920px){
    .cards{
        flex-direction: column;
        align-items: center;
    }
}

/* .image{
    max-height: 200px;
} */